<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style type="text/css">
        .aa {
            border: 1px red solid;
            color: blue;
        }

        .b {
            /*border:1px red solid;*/
            color: black;
        }
    </style>
</head>
<body>
<h1>h1这是标题 <small>small 副标题</small></h1>
<hr>
<h2>h2后台脚本 <strong>strong v2.0</strong></h2>
<hr>
<h2>h2后台脚本 <small>small v2.0</small></h2>
<hr>
<h2>h2后台脚本 <mark>mark v2.0</mark></h2>
<hr>
<h3>h3这是标题</h3>
</body>
</html>